@import '../../../scss/foundation/variables';

.nav__link {
    color: rgb(243, 243, 243);
    font-size: 19px;
}

.github:hover {
    color: #979393;
}

.linkedin:hover {
    color: #007bb6
}

.discord:hover {
    color: #7289DA;
}

.envelope:hover {
    color: #f0a1a1;
}