@import "./scss/foundation/reset";
@import './scss/foundation/colors';

// Scrollbar styling

::-webkit-scrollbar { 
    width: 10px; // Makes the scrollbar disappear
 
}

// Track

::-webkit-scrollbar-track {
    background: $whitesmoke;
}

// Handle

::-webkit-scrollbar-thumb {
    background:$grey;
}

// Handle on hover

::-webkit-scrollbar-thumb:hover {
    background:$black;
}

// Button effects

button {
    cursor: pointer;
    transition: all .75s ease-in-out;
}


.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$black;
}
.nav__image {
    background: rgb(36,36,36);
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(21,21,21,1) 46%);    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.nav__img {
    height: 240px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
 }

.nav__img:hover {
     -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
     filter: grayscale(0%);
 }
